

<div class="bg-gray-700 p-2 translate-x-20">
  <p class="text-gray-400 left-5 relative scale ">
    I have 2 years experience and I have been trying to learn as much as I possibility can.
    Here are some languages I have become familiar with.
  </p>
</div>

<br>
<br>

<div class="grid grid-cols-2 gap-10">
  <div class="language-item">
    <div class="text-2xl">
      Java
    </div>
    <fa-icon [icon]="faJava" class="relative right-5 top-10" size="5x"/>
  </div>

  <div class="language-item">
    <div class="text-2xl">
      Rust
    </div>

    <fa-icon [icon]="faRust" class="relative right-5 top-10" size="5x"/>
  </div>

  <div class="language-item">

    <div class="text-2xl">
      Kotlin
    </div><img ngSrc="assets/Kotlin_Icon.svg" class="relative right-10 top-10" height="80" width="80" alt="kotlin icon"/>
  </div>
  <div class="language-item">

    <div class="text-2xl">
      Typescript
    </div>
    <img ngSrc="assets/Typescript_logo_2020.svg" class="relative right-20 top-10" height="80" width="80" alt="typescript icon"/>
  </div>
</div>
