

<br>
<br>

<div class="grid grid-cols-2 gap-10">
  <div class="language-item">
    <div class="text-2xl">
      Java
    </div>
    <fa-icon [icon]="faJava" class="relative right-5 top-10" size="5x"/>
  </div>

  <div class="language-item">
    <div class="text-2xl">
      Rust
    </div>

    <fa-icon [icon]="faRust" class="relative right-5 top-10" size="5x"/>
  </div>

  <div class="language-item">

    <div class="text-2xl">
      Kotlin
    </div><img ngSrc="assets/Kotlin_Icon.svg" class="relative right-10 top-10" height="80" width="80" alt="kotlin icon"/>
  </div>
  <div class="language-item">

    <div class="text-2xl">
      Typescript
    </div>
    <img ngSrc="assets/Typescript_logo_2020.svg" class="relative right-20 top-10" height="80" width="80" alt="typescript icon"/>
  </div>
</div>
