
<nav class="flex flex-row bg-opacity-50 border-x-2 shadow-md
     border-stone-800 gap-5 bg-stone-800 rounded p-4">

  <span class="opacity-20">Carter's Page</span>

  <div class="flex gap-5 h-fit m-auto">
    <button type="button">

      <a routerLink="/home" routerLinkActive="active">Home</a>
    </button>
    <button type="button">

      <a routerLink="/skills" routerLinkActive="active">Skills</a>
    </button>
    <button type="button">

      <a routerLink="/projects" routerLinkActive="active">Projects</a>
    </button>


  </div>
</nav>

