<section>
  <div>
    <h2
      class="mb-4 border-b-2 border-gray-200 py-2 text-2xl font-bold lg:mb-8 dark:border-gray-700"
    >
      Main Page
      <span
        class="block text-lg font-medium text-gray-600 sm:inline-block dark:text-gray-400"
      >learn more about me</span
      >
    </h2>
    <div>

      Welcome to my github page. I am a software developer with a passion for
      creating beautiful and functional applications for web, android, and desktop. I am currently
      working to better my skills in the following areas:
    </div>
    <br>

    <div class="relative left-4 inline-block opacity-50">
      <div class="list-item">
        Web Design
      </div>
      <div class="list-item">
        Database Architecture
      </div>
      <div class="list-item">
        Backend Development
      </div>
    </div>

  </div>
</section>
