<div class="flex flex-row gap-4 mb-4 border-b-2 border-gray-200 py-2 text-2xl font-bold lg:mb-8 dark:border-gray-700">
  <fa-icon [icon]="faGithub"/>

  <span>Github Projects</span>
</div>

<div>

  <a href="https://github.com/Carter907/chime.git">Chime</a>

  <p class="text-sm text-gray-500 dark:text-gray-400">
    A simple, lightweight, Chess Timer made with Android Jetpack Compose
<br/>
    <a href="https://github.com/Carter907/QueryHub.git">QueryHub</a>

  <p class="text-sm text-gray-500 dark:text-gray-400">
    An Android app for creating you're own quizzes for studying or testing others

</div>
